<div>
      <div style='font-size: 50px;'>
        <% if user.myimage? %>
          <%= image_tag user.myimage.thumb100.url, class: 'myimage'  %>
        <% end %>
    
        <span>  <%= user.name %>  さんのページ</span>
       </div>
       
       
       <div class='profile-btn'>
           <% if current_user == user %>
            <%= link_to 'プロフィール編集', edit_user_path(user), class: 'btn btn-primary' %>
            <%= link_to '新規投稿', new_review_path, class: 'btn btn-primary' %>
          
          <% else %>
            <%= render 'relationships/follow_button', user: user %>
          <% end %>
        
          <%= link_to 'レビューを見る', reviews_path, class: 'btn btn-primary' %>
       </div>
       
       <p>プロフィール文</p>
       <div class='user-profile'><%= simple_format(user.profile) %></div>
      
    
  </div>
  