<div class='container'>
  
   <div class="text-center">
    
    <h1 class="title">IZAKAYA review</h1>
    
    <% if logged_in? %>
      <%= link_to 'マイページへ', user_path(current_user), class: 'btn btn-primary' %>
      <%= link_to '新規投稿', new_review_path, class: 'btn btn-primary' %>
      
    <% else %>
      <%= link_to '新規登録', signup_path, class: 'btn btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
    <% end %>
    
    <%= link_to 'レビューを見る', reviews_path, class: 'btn btn-primary' %>
  </div>
  
  
</div>  
 
