<% reviews.each do |review| %>
  
  <div class='container row review-box'>

    <div class='review-box-main col-md-9'>
      <div class='review-user-name'>
        <% if review.user.myimage? %>
          <%= image_tag review.user.myimage.thumb50.url, class: 'myimage' %>
        <% end %>
        <a href="<%= user_path(review.user) %>"><%= review.user.name %></a>
      </div>
      
      <div class='review-title'>
        <a href="<%= review_path(review) %>"><%= review.title %></a>
      </div>
      
      <div class="review-list">
      <span>【カテゴリ】</span>
      <% review.categories.each do |category| %>
        <%= category.name %>,
      <% end %>
      
      <p><span>【評価】</span> <%= review.point %>点</p> 
      
      
      
      
      <span>【レビュー詳細】</span>
      <div class='box-review-content'><%= simple_format(review.content) %></div>
     
     
     
    
      <p><span>【お気に入り】</span><span style='color: red;'><%= review.favorites.count %></span> 件</p>
      
      <% if logged_in? %>
      
          <%= render 'favorites/like_button', review: review %>
      
        <% end %>
        </div>
    </div>
    
    
   
    <aside class='col-md-3'>
    <div class="text-right review-time"><%= review.created_at.strftime("%Y-%m-%d %H:%M") %> の投稿</div> 

      
      
      <div class="image-box text-center">
      <% if review.image? %>
        <%= image_tag review.image.url %>
        <% else %>
        <p>画像がありません</p>
      <% end %>
      </div>
      
    </aside>
    
  </div>
<% end  %>
     
   
    