  <div><%= @review.user.name %></div>
  <div><%= @review.title %></a></div>
    
  <div><%= @review.content %></div>
  <div><%= @review.point %>点</div>
  <div><%= @review.created_at %></div> 
  <div class='review-image'>
    <% if @review.image? %>
      <%= image_tag @review.image.url %>
    <% end %>
  </div>
    <div>
      <%= render 'favorites/like_button', review: @review %>
    </div>
    
    <% if @review.user == current_user %>
      <%= link_to '編集する', edit_review_path(@review) %>
      <%= link_to '削除する', @review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
   <% end %>