<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">居酒屋 review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        <% if logged_in? %>
          <% if user.myimage? %>
            <%= image_tag user.myimage.thumb50.url, class: 'myimage' %>
          <% end %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'Myページ', user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to '新規投稿', new_review_path %></li>
              <li class="dropdown-item"><%= link_to 'レビュー画面へ', reviews_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
          
        <% else %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ゲスト</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to '新規登録', signup_path %></li>
              <li class="dropdown-item"><%= link_to 'ログイン', login_path %></li>
              <li class="dropdown-item"><%= link_to 'レビュー画面へ', reviews_path %></li>
           </ul>
          </li>
          
        
        <% end %>
      </ul>
    </div>
  </nav>
</header>